Nicolas Leclercq <nicolas.leclercq@esrf.fr>
Nicolas Leclercq <nicolas.leclercq@synchrotron-soleil.fr>
Michał Liszcz <liszcz.michal@gmail.com>
Katarzyna Rzęsikowska <katarzyna.rzesikowska@gmail.com>
Mateusz Celary <mateusz.celary@s2innovation.com> mateusz <mateusz.celary@s2innovation.com>
Mateusz Celary <mateusz.celary@s2innovation.com> spirit1317 <matcelary@gmail.com>
